<h1>Checkout</h1>

<%= render 'orders/order' %>

<% @order.errors.full_messages.each do |error| %>
  <div class="alert alert-danger">
    <%= error %>
  </div>
<% end %>

<%= form_for(@order, html: { class: 'form-horizontal', role: 'form'}) do |f| %>

  <%= f.fields_for :credit_card_attributes, @order.credit_card do |cc| %>
    <div class="form-group">
      <%= cc.label :card_number, class: 'col-sm-2 control-label' %>
      <div class="col-sm-4">
        <%= cc.text_field :card_number, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= cc.label :expiration_date, class: 'col-sm-2 control-label' %>
      <div class="col-sm-2">
        <%= cc.text_field :expiration_date, class: 'form-control', placeholder: 'mm/yyyy' %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <button type="submit" class="btn btn-success">Place Order</button>
    </div>
  </div>
<% end %>
