<!DOCTYPE html>
<html>
<head>
  <title>Betastore</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <%= image_tag 'icon.png', height: 20 %>
        </a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to cart_path do %>
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Cart
          <% end %>
        </li>
        <% if logged_in? %>
          <li>
            <%= link_to "#TODO" do %>
              <span class="glyphicon glyphicon-user"></span>
              <%= current_customer.name %>
            <% end %>
          </li>
          <li>
            <%= link_to log_in_path, method: 'delete' do %>
              <span class="glyphicon glyphicon-log-out"></span>
              Log Out
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to log_in_path do %>
              <span class="glyphicon glyphicon-log-in"></span>
              Log In
            <% end %>
          </li>
          <li><%= link_to "Sign Up", sign_up_path %></li>
        <% end %>
      </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container-fluid">
    <%= render 'layouts/flash' %>
    <%= yield %>
  </div>
</body>
</html>
